<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hv_arm">

  <!-- ROS 2 Control -->

 <gazebo>
    <!-- ROS 2 Iron or above -->
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find hv_controller)/config/panda_controllers.yaml</parameters>
        <parameters>$(find hv_controller)/config/gaz_ros2_ctl_use_sim.yaml</parameters>

      </plugin>
      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
  </gazebo>

  <!-- Physically connects the bottle to the robot during grasping -->
  <gazebo>
    <plugin
      filename="gz-sim-detachable-joint-system"
      name="gz::sim::systems::DetachableJoint">

      <!-- Moving physics link belonging to the Panda model -->
      <parent_link>panda_link7</parent_link>

      <!-- Gazebo model and link defined in empty.world -->
      <child_model>bottle</child_model>
      <child_link>bottle_link</child_link>

      <!-- Runtime command topics -->
      <detach_topic>/bottle/detach</detach_topic>
      <attach_topic>/bottle/attach</attach_topic>

      <!-- Reports whether the fixed joint exists -->
      <output_topic>/bottle/attachment_state</output_topic>

    </plugin>
  </gazebo>

  
</robot>